* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #2C2C2C;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #FEFEFE;
}


ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button,
a {
    cursor: pointer;
    border: none;
    text-decoration: none;
    color: inherit;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h2 {
    color: #2C2C2C;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 320px;
    padding: 0 20px;
    margin: 0 auto;
}

/* 
.section {
    padding: 50px 0;
}
 */

/* HEADER */

.header-container {
    /* Meny shadow */
    box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.10);
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    padding: 10px 0;
}

.burger-btn {
    background-color: transparent;
    text-align: center;
    line-height: 0;
}

.burger-btn-icon {
    fill: #7eb101;
}

.nav-menu {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;

    padding: 16px 0;
    border-radius: 30px 0px 30px 30px;
    background: var(--White, #FEFEFE);
    box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.10);

    transform: translateY(-120%);
    transition: opacity 400ms linear;
}

.drop-menu-wrapper {
    position: relative;
    display: inline-block;
}

.drop-menu-wrapper:hover .nav-menu,
.drop-menu-wrapper:focus .nav-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.nav-list-item {
    color: #000;
    font-size: 16px;
    line-height: normal;
    padding: 16px 24px;
    text-align: center;
}

.nav-list-item:hover,
.nav-list-item:focus,
.nav-list-item:active {
    background-color: #BBF330;
    border-radius: 15px;
}



/* Header */

.hero-title {
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 28px;
    margin-top: 60px;
}

.hero-text {
    color: var(--Black, #2C2C2C);
    line-height: 1.43;
    margin-bottom: 32px;
}

.hero-btn {
    color: var(--Black, #2C2C2C);
    text-align: right;
    font-size: 13px;
    font-weight: 500;
    padding: 8.5px 18px;
    border-radius: 30px;
    background: var(--Button-green, #BBF330);

    margin-bottom: 50px;
}

.hero-img {
    display: none;
}

/* BENEFITS */

.benefits-container {
    background-image: url(../images/backgrounds/mobil-bg-1.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.apple-img-wrapper {
    position: relative;
    margin: 0 auto;
    padding-top: 41px;
    margin-bottom: 60px;
}

.ellipse-img-bg {
    margin: 0 auto;
    border-radius: 280px;
    border: 3px solid rgba(255, 255, 255, 0.50);
    width: 280px;
    height: 280px;
    flex-shrink: 0;
}

.ellipse-img-shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(40%, -25%);

    fill: var(--Shadow-Fruit, radial-gradient(50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0.00) 100%));
    filter: blur(6.61818265914917px);
}

.ellipse-img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(20%, 5%);
}

.benefits-container h2 {
    margin-bottom: 28px;
}

.benefits-container p {
    line-height: 1.43;
    margin-bottom: 28px;
}

.benefits-container h3 {
    color: #2C2C2C;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
}

.benefits-order-btn {
    color: var(--Black, #2C2C2C);
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    padding: 10px 22px;
    border-radius: 30px;
    border: 2px solid var(--Dark-green, #7EB101);
    background: #FFF;
    margin-bottom: 72px;
    margin-right: 24px;
}

.read-more-btn {
    display: inline-block;
    text-align: center;
}

.benefits-more-btn {
    color: var(--Black, #000);
}

.right-arrow-ico {
    line-height: 0;
    transform: rotate(180deg);
}

.benefits-ico {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    stroke: #7EB101;
}

.benefits-ico-box {
    position: relative;
    background-color: #fff;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
}

/* MENU SECTION */

.menu-container {
    padding: 60px 0;
}

.menu-container h2 {
    text-align: center;
    width: 170px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.menu-container p {
    text-align: center;
    margin-bottom: 60px;
}

.menu-img-item {
    position: relative;
}

.menu-img-item:not(:last-child) {
    margin-bottom: 20px;
}

.menu-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media screen and (max-width: 767px) {
    .hidden-on-mobil {
        display: none;
    }
}
